.nav{
  width: 100%;
  height: 3rem;
  display: flex;
  background-color: $color-dark-2;
  border-top: 2px solid $color-red;
  justify-content: space-between;

  &-logo-container{
    width: 100%;
  }

  &-logo{
    width: 3rem;
  }

  &-links-container-decorations{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &-links-container-decoration{
    height: 3.1rem;
    position: absolute;
    top: -0.1rem;
  }

  &-links-container-decoration.right{
    left: 100%;
  }

  &-links-container-decoration.left{
    right: 100%;
  }

  &-links{
    display: flex;
    gap: 2rem;
    background-color: $color-red;
    height: 100%;
  }

  &-link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &-link-decoration{
    position: absolute;
    width: 1rem;
    top: -0.25rem;
    color: $color-dark-1;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.4));
    transition: 0.15s ease-in-out;
  }

  &-link-icon{
    width: 2rem;
    transition: 0.15s $cubic-bezier-1;
    color: $color-dark-1;
  }

  &-link.active > &-link-icon, &-link:hover > &-link-icon{
    color: $color-white;
  }

  &-link:hover > &-link-decoration, &-link.active > &-link-decoration {
    top: -0.15rem;
  }

  &-link.active > &-link-decoration{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    color: $color-white;
  }

  &-link-account-icon{
    color: $color-white;
    transition: 0.15s;
    width: 2rem;

    &:hover{
      color: $color-red;
    }
  }

  &-account-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-account-link{
    margin-right: 1rem;
    color: $color-white;
    transition: 0.1s;
    overflow: hidden;
    max-width: 6rem;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover{
      color: $color-red;
    }
  }
}

@media only screen and (max-width: 600px){
  .nav{
    &-logo-container{
      display: none;
    }

    &-link:first-child{
      padding: 0 0 0 1rem;
    }
  }
}