//*| Palette
$color-red: #EC2C45;
$color-white: #F6F6F6;
$color-grey: #CDCDCD;
$color-dark-1: #07080C;
$color-dark-2: #0D1015;
$color-dark-3: #192028;

//*| Animation behaviors
$cubic-bezier-1: cubic-bezier(0.76, 0, 0.24, 1);

//*| Shadows
$shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;